@import "../fonts/Lato/Lato.scss";
@import "../fonts/Rubik/Rubik.scss";

// Font
$mainFont                : 'Lato', sans-serif;
$addFont                 : 'Rubik', sans-serif;
$mainFontSize            : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;
