@function get-expression-operator($expression) {
  @each $operator in ('>', '<') {
    @if str-index($expression, $operator) {
      @return $operator;
    }
  }
}

@function get-expression-prefix($operator) {
  @return if(index(('<', '<=', '≤'), $operator), 'max', 'min');
}


@function get-expression-value($expression, $operator) {
  $operator-index: str-index($expression, $operator);
  $value: str-slice($expression, $operator-index + str-length($operator));
  $value: map-get($breakpoints, $value);
  @return $value;
}

@function parse-expression($expression) {

  $operator: get-expression-operator($expression);
  $dimension: 'width';
  $prefix: get-expression-prefix($operator);
  $value: get-expression-value($expression, $operator);

  @return '(#{$prefix}-#{$dimension}: #{$value})';
}