html {
  font-family: $mainFont;
  color: $mainFontColor;
  font-size: $mainFontSize;
  line-height: $mainLineHeight;
}

.container {
  margin-left: auto;
  margin-right: auto;
  @include media("<xl") {
    width: map_get($container-max-widths, 'lg');
  }
  @include media("<lg") {
    width: map_get($container-max-widths, 'md');
  }
  @include media("<md") {
    width: map_get($container-max-widths, 'sm');
  }
  @include media("<sm") {
    width: 300px;
  }

  @include media(">sm") {
    margin-left: auto;
    margin-right: auto;
  }
  @include media(">md") {
    margin-left: auto;
    margin-right: auto;
  }
  @include media(">lg") {
    margin-left: auto;
    margin-right: auto;
  }
  @include media(">xl") {
    width: map_get($container-max-widths, 'xl');
    margin-left: auto;
    margin-right: auto;
  }

}

