$desktopWidth            : 1199px;
$smDesktopWidth          : 991px;
$tabletWidth             : 767px;
$phoneWidth              : 575px;
$breakpoints: (
  sm: $phoneWidth,
  md: $tabletWidth,
  lg: $smDesktopWidth,
  xl: $desktopWidth,
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1170px
) !default;
