@import "_reset.scss";
@import "_vars.scss";
@import "_colors.scss";
@import "_fonts.scss";
@import "_functions.scss";
@import "_mixins.scss";
@import "_layouts.scss";
@import "./pages/catalog";
@import "pages/room-page";


.img-wrap img {
  width: 100%;
  height: auto;
}
//.wrapper_blur {
//  filter: blur(4px);
//}
.page-section {
  padding: 0 0 20px 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &_padding_bg {
    padding: 140px 0;
  }
}

.section-title {
  margin-bottom: 46px;
  font-family: $addFont;
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  color: #1A212F;
  text-align: center;
  &_align_left {
    text-align: left;
  }
  &_mb_sm {
    margin-bottom: 25px;
  }
  &_light {
    color: #fff;
  }
  @include media("<xl") {
    font-size: 30px;
  }
  @include media("<md") {
    font-size: 24px;
  }
}

// page-header start
.main-nav {
  z-index: 10;
  padding: 12px 0;
  .container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  width: 63px;
  height: 52px;
  background: url('/assets/img/logo.png');
  &__link {
    display: block;
    height: 100%;
  }
}

.burger-btn {
  width: 40px;
  height: 30px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  @include media("<lg") {
    display: flex;
  }
  &__line {
    height: 5px;
    width: 100%;
    background: $mainFontColor;
    border-radius: 5px;
    transition: all .2s ease;
  }
  &:hover {
    .burger-btn__line {
      background: $accentColor;
    }
  }
  &_close {
    .burger-btn__line {
      background: $accentColor;
      &:first-child {
        transform: translateY(10px) scale(0.8) rotate(135deg);
      }
      &:last-child {
        transform: translateY(-15px) scale(0.8) rotate(-135deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
    }
  }
}

.menu {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  transform-origin: 0 0;
  @include media("<lg") {
    display: flex;
    width: 100%;
    position: absolute;
    top: 78px;
    left: 0;
    transform: scaleY(0);
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    background: #fff;
    transition: all .2s ease;
    &__elem {
      margin: 0;
      border-bottom: 2px solid $accentColor;
    }
    &__link {
      padding: 15px 30px;
    }
  }
  &_open_bottom {
    top: -10px !important;
    transform: scale(1, -1) !important;
    .menu__elem {
      transform: scale(1, -1) !important;
    }
  }
  &_open {
    display: flex !important;
    transform: scale(1, 1) !important;
  }
  &__elem {
    margin-left: 30px;
    &:first-child {
      margin-left: 0;
    }
  }
  &__link {
    display: block;
    height: 100%;
    color: #1A212F;
    &:hover {
      color: $accentColor;
    }
  }
}

// page-header end


// banner
.banner {
  height: 36.896046852vw;
  min-height: 504px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: url(/assets/img/banner-bg.png) no-repeat center center;
  background-size: cover;
  @include media("<sm") {
    align-items: flex-start;
    background: url(/assets/img/banner-bg.png) no-repeat top left 54%;
  }
  &__content {
    width: 100%;
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    @include media("<lg") {
      padding-left: 0;
      justify-content: center;
    }
    @include media("<sm") {
      margin-top: 25%;
      flex-direction: row;
      align-items: stretch;
      justify-content: flex-start;
    }
  }
}

.page {
  &-suptitle {
    font-family: $mainFont;
    font-size: 15px;
    color: #1A212F;
    font-weight: 400;
    @include media("<sm") {
      text-align: center;
      //color: #fff;
    }
  }
  &-title {
    margin-bottom: 7px;
    font-family: $addFont;
    font-size: 62px;
    font-weight: 900;
    line-height: 1;
    color: #1A212F;
    @include media("<sm") {
      text-align: center;
      //color: #fff;
    }
  }

  &-subtitle {
    margin-bottom: 32px;
    font-family: $mainFont;
    font-size: 20px;
    font-weight: 500;
    color: #1A212F;
    @include media("<sm") {
      text-align: center;
      //color: #fff;
    }
  }
}

.primary-btn {
  display: inline-block;
  padding: 17px 63px 17px 31px;
  position: relative;
  border-radius: 25px;
  background: #FFFEFD;
  font-family: $mainFont;
  font-size: 16px;
  color: #1A212F;
  line-height: 1;
  font-weight: 500;
  &_wide {
    width: 100%;
  }
  &_shadow {
    box-shadow: 0 5px 25px rgba(26, 33, 47, 0.1);
    @include media("<sm") {
      box-shadow: 0 5px 12px rgba(26, 33, 47, 0.1);
    }
  }
  &_center {
    margin: 0 auto;
  }

  &_color_orange {
    background: $accentColor;
    color: #FFFEFD;
    &:after {
      content: url("/assets/img/btn-paw_orange.svg") !important;
      background: #FFFEFD !important;
    }
  }

  &:after {
    content: url("/assets/img/btn-paw.svg");
    width: 36px;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 7px;
    top: 7px;
    background: $accentColor;
    border-radius: 50%;
    transition: transform .7s;
  }
  
  &:hover {
    &:after {
      transform: rotate(360deg);
    }
  }
}

// banner end

// advantages-section
.advantages {
  &-section {
    background: url('/assets/img/advantages-bg.png') no-repeat right top;
  }
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: stretch;
  flex-wrap: wrap;
  @include media(">md") {
    justify-content: space-around;
  }
  @include media(">xl") {
    justify-content: space-between;
  }
}

.advantage {
  width: 100%;
  min-width: 300px;
  margin-top: 20px;
  padding: 30px 46px 25px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #fff;
  box-shadow: 0 0 25px rgba(208, 208, 208, 0.25);
  border-radius: 8px;
  @include media(">sm") {
    width: 80%;
  }
  @include media(">md") {
    width: 45%;
  }
  @include media(">lg") {
    width: 40.623931623%;
  }
  @include media(">xl") {
    width: 31.623931623%;
    align-items: flex-start;
  }

  &__icon {
    width: 91px;
    height: 91px;
    margin-bottom: 27px;
    border-radius: 50%;
    background: #FAC663;
    background-position: center center;
    background-repeat: no-repeat;
    &_temperature {
      background-image: url("/assets/img/advantage_1.svg");
    }
    &_video {
      background-image: url("/assets/img/advantage_2.svg");
    }
    &_taxi {
      background-image: url("/assets/img/advantage_3.svg");
    }
    &_food {
      background-image: url("/assets/img/advantage_7.png");
    }
    &_walk {
      background-image: url("/assets/img/advantage_5.svg");
    }
    &_vet {
      background-image: url("/assets/img/advantage_6.svg");
    }
  }

  &__title {
    margin-bottom: 8px;
    font-family: $addFont;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    @include media(">lg") {
      text-align: left;
    }
  }
  &__text {
    text-align: justify;
    @include media(">lg") {
      text-align: left;
    }
  }
  
}

// end advantages-section


// start rooms-section
.rooms-section {
  background: url("/assets/img/rooms-bg.png") no-repeat left top;
}


.rooms-inner {
  margin: 0 auto;
  padding: 0 70px;
  @include media("<xl") {
    padding: 0 20px;
  }
  @include media("<sm") {
    padding: 0 0;
  }
}
.rooms-section {
  .room {
    @include media("<lg") {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
    @include media(">xl") {
      padding: 0 70px;
    }
    &__img {
      @include media("<lg") {
        max-width: none;
        margin: 0 auto;
      }
    }
    &__descr {
      @include media("<lg") {
        width: 100%;
        max-width: none;
      }
    }
  }
}

.room {
  position: relative;
  &_size-sm {
    width: 31.034482758%;
  }
  &__img {

    &_size-md {
      width: 58.252427184%;
      max-width: 600px;
      @include media("<lg") {
        width: 100%;
        max-width: none;
      }
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  &__descr-wrap {
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
    border-radius: 8px;
    background: #FFFEFD;
    &_pos-abs-r-c {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      @include media("<lg") {
        position: static;
        top: auto;
        right: auto;
        transform: none;
      }
    }
    &_size-md {
      width: 48.547572816%;
      max-width: 500px;
      padding: 33px 20px 40px 100px;
      @include media("<sm") {
        width: 100%;
        padding: 20px 0 20px 20px;
        transform: translateY(-5px);
        box-shadow: none;
      }
      @include media("<md") {
        width: 90%;
        transform: translateY(-30px);
      }
      @include media("<lg") {
        position: relative;
        z-index: 3;
        width: 70%;
        max-width: none;
        transform: translateY(-50px);
        margin: 0 auto;
      }

    }

  }
  &-descr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    &_sz_md {
      .room-descr__title {
        font-size: 22px;
        margin-bottom: 19px;
      }
      .room-descr__param {
        margin-top: 10px;
      }
    }
    &_center {
      align-items: center;
    }
    &_size_lg {
      .room-descr__title {
        font-size: 36px;
        margin-bottom: 31px;
        line-height: 1;
      }
      .room-descr__param {
        margin-bottom: 14px;
      }
    }
    &_sz_sm {
      font-size: 14px;
      .room-descr__title {
        font-size: 20px;
        margin-bottom: 9px;
      }
      .room-descr__param {
        margin-top: 5px;

      }
      .room-descr__params {
        margin-bottom: 20px;
      }
      .room-descr__price {
        font-size: 18px;
      }
    }
    &_bg_transparent {
      background: transparent;
    }
    &__title {
      font-family: $addFont;
      font-size: 22px;
      color: #1A212F;
      font-weight: 600;
      margin-bottom: 19px;
    }
    &__params {
      margin-bottom: 26px;
      &_mark {
        .room__param {
          padding-left: 21px;
          position: relative;
          &:first-child {
            margin-top: 0;
          }
          &::before {
            content: '';
            width: 13px;
            height: 13px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%); // Чтобы шарик был ровно по центру текста
            left: 0;
            border-radius: 50%;
            background: #FAC663;
          }
        }
      }
    }
    &__param {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      &_jc_column {
        flex-direction: column;
        .room-descr__param-name {
          margin-bottom: 9px;
        }
      }
      &:first-child {
        margin-top: 0;
      }
      &-value {
        padding-left: 2px;
      }
    }
  }
}

.nav-block {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.arrows {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  @include media("<lg") {
    display: none;
  }
}

.dots {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  li {
    padding: 0;
    border: none;
    margin-right: 10px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #E1E1E1;
    font-size: 0;
    line-height: 0;
    &.slick-active {
      background: #FAC663;
    }
    button {
      padding: 0;
      border: none;
      outline: none;
    }
  }
}

.arrow {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.25);
  background: #ffffff;
  font-size: 24px;
  line-height: 24px;
  color: $accentColor;
  text-align: center;
  transition: all ease .3s;
  &_next {
    margin-left: 10px;
  }
  &:hover {
    background: $accentColor;
    color: #FFFEFD;
  }
}

// end rooms-section


// start reviews section

.reviews-section {
  background: url("/assets/img/reviews-section-bg.png") no-repeat right top;
}


.reviews {
  display: flex;
  align-items: stretch;
}
.review {
  max-width: 470px;
  padding: 35px 38px 35px 70px;
  margin-top: 20px;
  margin-bottom: 43px;
  box-shadow: 0 0 25px rgba(208, 208, 208, 0.25);
  background: #fff;
  border-radius: 8px;
  @include media("<xl") {
    max-width: 375px;
    margin-left: 20px;
    margin-right: 20px;
  }
  @include media("<lg") {
    max-width: 500px;
  }
  @include media("<md") {
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  @include media("<sm") {
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  &__text {
    margin-bottom: 13px;
    position: relative;
    color: #1A212F;
    &::before {
      content: '“';
      position: absolute;
      top: 0;
      left: -35px;
      font-family: $mainFont;
      font-size: 72px;
      font-weight: 500;
      line-height: 1;
      color: #fac663;

    }
  }

  .review__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #848484;
  }

}

// end reviews section

// start contact section

.contact-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  &__left {
    flex-grow: 1;
    width: auto; //41.58125915%;
    background: #FAC663;
    @include media("<md") {
      width: 100%;
    }
  }
  &__right {
    max-height: 100%;
    width: 58.418740849%;
    background: blueviolet;
    @include media("<xl") {
      width: 65%;
    }
    @include media("<md") {
      width: 100%;
    }
  }

  &__content {
    margin-left: 34.859154929%;
    padding: 35px 0 70px 0;
    @include media("<xl") {
      margin-left: 22%;
    }
    @include media("<lg") {
      margin-left: 10%;
    }
  }
}

.contact-info {
  @include media("<md") {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  font-style: normal;
  &__block {
    margin-top: 25px;
    @include media("<md") {
      width: 48%;
      margin-top: 0;
      margin-bottom: 25px;
    }
    @include media("<sm") {
      width: 100%;
      margin-top: 0;
      margin-bottom: 15px;
    }
    &:first-child {
      margin-top: 0;
    }
  }
  &__link {
    color: $mainFontColor;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  &__title {
    font-weight: 600;
    margin-bottom: 5px;
  }
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  &__elem {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    display: block;
    height: 22px;
    width: 22px;
    overflow: hidden;
    border-radius: 50%;
    background: $mainFontColor;
    background-repeat: no-repeat;
    background-position: center center;
    &_fb {
      background-image: url("/assets/img/social-fb-icon.png");
    }
    &_vk {
      background-image: url("/assets/img/social-vk-icon.png");
    }
    &_insta {
      background-image: url("/assets/img/social-insta-icon.png");
    }
  }
}

// end contact section

// start footer

.copyright-block {
  border-top: 1px solid #EFEFEF;
  font-size: 12px;
  color: #8F8F8F;
  .container {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__link {
    color: inherit;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

// end footer


// popup

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: rgba(255,255,255,0.8);
  z-index: 9999;
  &__close-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    position: absolute;
    top: 40px;
    right: 40px;
    width: 16px;
    height: 16px;
    &:hover {
      &::before {
        background: $accentColor;
        transform: rotate(-45deg);
      }
      &::after {
        background: $accentColor;
        transform: rotate(45deg);
      }
    }
    &::before,
    &::after {
      position: absolute;
      content: '';
      width: 16px;
      height: 2px;
      background: $mainFontColor;
      transition: all 0.2s ease;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
  &__title {
    margin-bottom: 50px;
    font-family: $addFont;
    font-weight: 800;
    font-size: 28px;
    line-height: 1;
    color: $mainFontColor;
  }
  &__content {
    position: relative;
    width: 100%;
    max-width: 570px;
    padding: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(208, 208, 208, 0.25);
  }
}

.popup_active {
  display: flex;
}
.main-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  &__input {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    padding: 16px 0 16px 30px;
    border: 1px solid #d7d7d7;
    border-radius: 25px;
    font-family: $mainFont;
    font-size: 16px;
    &:last-of-type {
      margin-bottom: 50px;
    }
  }
  &__input[type="date"] {
    width: auto;
    margin-left: 7px;
    margin-right: 5px;
    display: inline-block;
    font-family: $mainFont;
    font-size: 16px;
    color: $mainFontColor;
    &::-webkit-clear-button {
      display: none;
    }
    &::-webkit-inner-spin-button {
      display: none;
    }
    &::-webkit-calendar-picker-indicator {
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 18px;
      color: $mainFontColor;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }

  .primary-btn {
    align-self: center;
  }
}