section.contact-section
  .contact-section__left
    .contact-section__content
      h2.section-title.section-title_align_left.section-title_mb_sm Как нас <br> найти
      address.contact-info
        .contact-info__block
          .contact-info__title Адрес
          .contact-info__content Санкт-Петербург,<br>ул Большая Конюшенная, д 19
        .contact-info__block
          .contact-info__title Режим работы
          .contact-info__content Ежедневно, с 9:00 до 20:00
        .contact-info__block
          .contact-info__title Телефон
          .contact-info__content
            a(href="#").contact-info__link 8 (800) 333-55-99
        .contact-info__block
          .contact-info__title E-mail
          .contact-info__content
            a(href="#").contact-info__link info@cat-hotel.ru
        .contact-info__block
          .contact-info__title Социальные сети
          .contact-info__content
            ul.social
              li.social__elem
                a(href="#").social__link.social__link_fb
              li.social__elem
                a(href="#").social__link.social__link_insta
              li.social__elem
                a(href="#").social__link.social__link_vk
  .contact-section__right
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Af80b9abbe94370a327457739fafa99eb45cfd7fbd798937818674d74b8ea9d99&amp;width=100%;height=100%;lang=ru_RU&amp;scroll=true"></script>
footer.main-footer
  include ./header
  .copyright-block
    .container
      p.copyright-block__text © 2019 Все права защищены
      a(href="#").copyright-block__link Политика конфиденциальности
