nav.main-nav
  .container
    .logo
      a(href="/").logo__link
    .burger-btn#js-burger-btn
      .burger-btn__line
      .burger-btn__line
      .burger-btn__line
    ul.menu#js-menu
      li.menu__elem
        a(href="#").menu__link Почему мы?
      li.menu__elem
        a(href="/catalog.html").menu__link Номера
      li.menu__elem
        a(href="#").menu__link Отзывы
      li.menu__elem
        a(href="#").menu__link Как нас найти





