.popup#js-popup
    .popup__content
        span(class="popup__close-btn")
        h3.popup__title Забронировать номер
        form(class="main-form" action="#")
            input(class="main-form__input" type="text" name="name" placeholder="Ваше имя")
            input(class="main-form__input" type="text" name="pet-name" placeholder="Имя питомца")
            input(class="main-form__input" type="text" name="phone" placeholder="Телефон")
            input(class="main-form__input" type="text" name="email" placeholder="E-mail")
            label
                span Дата заезда с
                input(type="date" class="main-form__input")
                span по
                input(type="date" class="main-form__input")
            button(class="primary-btn_color_orange primary-btn primary-btn_shadow" type="submit") Отправить заявку