extends ../layout/main

block variables
    - var title = 'Cats';
    - var description = 'Hotel for cats it is a good idea;'
    - var pageClass = 'body';

block content
    header.catalog-header
        .container
            h1.catalog-title Наши номера
            select(class="sorting-select")
                option(class="sorting__elem" value="area-up") ↑ По площади
                option(class="sorting__elem" value="area-down") ↓ По площади
                option(class="sorting__elem" value="price-up") ↑ По цене
                option(class="sorting__elem" value="price-down") ↓ По цене
    .catalog
        .container
            form.catalog__filters#js-filters-container
                .catalog__filter
                    span.catalog__filter-title Цена за сутки, Р
                    .catalog-filter-field.catalog__filter-field_price
                        input(class="catalog__filter-input catalog__filter-input_price" name="start-price" placeholder="от 100")
                        input(class="catalog__filter-input catalog__filter-input_price" name="end-price" placeholder="до 600")
                .catalog__filter
                    span.catalog__filter-title Площадь
                    .catalog__filter-field
                        label.checkbox
                            input(class="checkbox__input checkbox__input_square" type="checkbox" value="0.63")
                            span.checkbox__text 0,63 м^2
                    .catalog__filter-field
                        label.checkbox
                            input(class="checkbox__input checkbox__input_square" type="checkbox" value="0.90")
                            span.checkbox__text 0,90 м^2
                    .catalog__filter-field
                        label.checkbox
                            input(class="checkbox__input checkbox__input_square" type="checkbox" value="1.13")
                            span.checkbox__text 1,13 м^2
                    .catalog__filter-field
                        label.checkbox
                            input(class="checkbox__input checkbox__input_square" type="checkbox" value="1.56")
                            span.checkbox__text 1,56 м^2
                    .catalog__filter-field
                        label.checkbox
                            input(class="checkbox__input checkbox__input_square" type="checkbox" value="2.56")
                            span.checkbox__text 2,56 м^2
                    .catalog__filter-field
                        label.checkbox
                            input(class="checkbox__input checkbox__input_square" type="checkbox" value="2.88")
                            span.checkbox__text 2,88 м^2
                .catalog__filter
                    span.catalog__filter-title Оснащение номера
                    .catalog__filter-field
                        label.checkbox
                            input(class="checkbox__input checkbox__input_facilities" type="checkbox" value="emtpty-room")
                            span.checkbox__text Пустой номер
                    .catalog__filter-field
                        label.checkbox
                            input(class="catalog__filter-checkbox checkbox__input checkbox__input_facilities" type="checkbox" value="sunbed")
                            span.checkbox__text Лежак
                    .catalog__filter-field
                        label.checkbox
                            input(class="catalog__filter-checkbox checkbox__input checkbox__input_facilities" type="checkbox" value="scratching-post")
                            span.checkbox__text Когтеточка
                    .catalog__filter-field
                        label.checkbox
                            input(class="catalog__filter-checkbox checkbox__input checkbox__input_facilities" type="checkbox" value="game-complex")
                            span.checkbox__text Игровой комплекс
                    .catalog__filter-field
                        label.checkbox
                            input(class="checkbox__input checkbox__input_facilities" type="checkbox" value="hut")
                            span.checkbox__text Домик
                span(class="catalog__filters-btn" id="js-drop-filters") Сбросить фильтр

            .catalog__rooms-list#js-catalog-rooms
                .catalog-room
                    a(href="#").catalog-room__img.img-wrap
                        img(class="room__img" src="/assets/img/room-cat-3.png")
                    .catalog-room__descr-wrap
                        .room-descr.room-descr_sz_sm
                            h3.room-descr__title Эконом
                            ul.room-descr__params
                                li.room-descr__param
                                    span.room-descr__param-name Размеры (ШхГхВ) -
                                    span.room-descr__param-value
                                        <span class="room__height">90</span>x<span class="room__deep">100</span>x<span class="room__height">180</span> СМ
                                li.room-descr__param
                                    span.room-descr__param-name Площадь -
                                    span.room-descr__param-value
                                        span.room__area 1,13m^2
                                li.room-descr__param
                                    span.room-descr__param-name Оснащение номера
                                    span.room-descr__param-value
                                        ul.room-descr__facilities.facilities.facilities_short
                                            li.facilities-elem
                                                span.facilities-elem__title Лежак
                                                span.facilities-elem__icon.facilities-elem__icon_sunbed
                                            li.facilities-elem
                                                span.facilities-elem__title Домик
                                                span.facilities-elem__icon.facilities-elem__icon_hut
                                            li.facilities-elem
                                                span.facilities-elem__title Игровой комплекс
                                                span.facilities-elem__icon.facilities-elem__icon_game-complex
                                            li.facilities-elem
                                                span.facilities-elem__title Когтеточка
                                                span.facilities-elem__icon.facilities-elem__icon_scratching-post
                                li.room-descr__param
                                    span.room-descr__param-name Цена за сутки:
                                    span.room-descr__param-value
                                        span.room-descr__price 180Р
                            a(href="#").primary-btn_color_orange.primary-btn.primary-btn_wide Забронировать





                .catalog-room
                    a(href="room-page.html").catalog-room__img.img-wrap
                        img(class="room__img" src="/assets/img/room-cat-3.png")
                    .catalog-room__descr-wrap
                        .room-descr.room-descr_sz_sm
                            h3.room-descr__title Эконом
                            ul.room-descr__params
                                li.room-descr__param
                                    span.room-descr__param-name Размеры (ШхГхВ) -
                                    span.room-descr__param-value
                                        <span class="room__height">90</span>x<span class="room__deep">100</span>x<span class="room__height">180</span> СМ
                                li.room-descr__param
                                    span.room-descr__param-name Площадь -
                                    span.room-descr__param-value
                                        span.room__area 0,80m^2
                                li.room-descr__param
                                    span.room-descr__param-name Оснащение номера
                                    span.room-descr__param-value
                                        ul.room-descr__facilities.facilities.facilities_short
                                            li.facilities-elem
                                                span.facilities-elem__title Лежак
                                                span.facilities-elem__icon.facilities-elem__icon_sunbed
                                            li.facilities-elem
                                                span.facilities-elem__title Домик
                                                span.facilities-elem__icon.facilities-elem__icon_hut
                                            li.facilities-elem
                                                span.facilities-elem__title Игровой комплекс
                                                span.facilities-elem__icon.facilities-elem__icon_game-complex
                                            li.facilities-elem
                                                span.facilities-elem__title Когтеточка
                                                span.facilities-elem__icon.facilities-elem__icon_scratching-post
                                li.room-descr__param
                                    span.room-descr__param-name Цена за сутки:
                                    span.room-descr__param-value
                                        span.room-descr__price 220Р
                            a(href="#").primary-btn_color_orange.primary-btn.primary-btn_wide Забронировать





                .catalog-room
                    a(href="room-page.html").catalog-room__img.img-wrap
                        img(class="room__img" src="/assets/img/room-cat-3.png")
                    .catalog-room__descr-wrap
                        .room-descr.room-descr_sz_sm
                            h3.room-descr__title Эконом
                            ul.room-descr__params
                                li.room-descr__param
                                    span.room-descr__param-name Размеры (ШхГхВ) -
                                    span.room-descr__param-value
                                        <span class="room__height">90</span>x<span class="room__deep">100</span>x<span class="room__height">180</span> СМ
                                li.room-descr__param
                                    span.room-descr__param-name Площадь -
                                    span.room-descr__param-value
                                        span.room__area 0,63m^2
                                li.room-descr__param
                                    span.room-descr__param-name Оснащение номера
                                    span.room-descr__param-value
                                        ul.room-descr__facilities.facilities.facilities_short
                                            li.facilities-elem
                                                span.facilities-elem__title Лежак
                                                span.facilities-elem__icon.facilities-elem__icon_sunbed
                                            li.facilities-elem
                                                span.facilities-elem__title Домик
                                                span.facilities-elem__icon.facilities-elem__icon_hut
                                            li.facilities-elem
                                                span.facilities-elem__title Игровой комплекс
                                                span.facilities-elem__icon.facilities-elem__icon_game-complex
                                            li.facilities-elem
                                                span.facilities-elem__title Когтеточка
                                                span.facilities-elem__icon.facilities-elem__icon_scratching-post
                                li.room-descr__param
                                    span.room-descr__param-name Цена за сутки:
                                    span.room-descr__param-value
                                        span.room-descr__price 250Р
                            a(href="#").primary-btn_color_orange.primary-btn.primary-btn_wide Забронировать





                .catalog-room
                    a(href="room-page.html").catalog-room__img.img-wrap
                        img(class="room__img" src="/assets/img/room-cat-3.png")
                    .catalog-room__descr-wrap
                        .room-descr.room-descr_sz_sm
                            h3.room-descr__title Эконом
                            ul.room-descr__params
                                li.room-descr__param
                                    span.room-descr__param-name Размеры (ШхГхВ) -
                                    span.room-descr__param-value
                                        <span class="room__height">90</span>x<span class="room__deep">100</span>x<span class="room__height">180</span> СМ
                                li.room-descr__param
                                    span.room-descr__param-name Площадь -
                                    span.room-descr__param-value
                                        span.room__area 2,56m^2
                                li.room-descr__param
                                    span.room-descr__param-name Оснащение номера
                                    span.room-descr__param-value
                                        ul.room-descr__facilities.facilities.facilities_short
                                            li.facilities-elem
                                                span.facilities-elem__title Лежак
                                                span.facilities-elem__icon.facilities-elem__icon_sunbed
                                            li.facilities-elem
                                                span.facilities-elem__title Домик
                                                span.facilities-elem__icon.facilities-elem__icon_hut
                                            li.facilities-elem
                                                span.facilities-elem__title Игровой комплекс
                                                span.facilities-elem__icon.facilities-elem__icon_game-complex
                                            li.facilities-elem
                                                span.facilities-elem__title Когтеточка
                                                span.facilities-elem__icon.facilities-elem__icon_scratching-post
                                li.room-descr__param
                                    span.room-descr__param-name Цена за сутки:
                                    span.room-descr__param-value
                                        span.room-descr__price 200Р
                            a(href="#").primary-btn_color_orange.primary-btn.primary-btn_wide Забронировать

                .catalog-room
                    a(href="room-page.html").catalog-room__img.img-wrap
                        img(class="room__img" src="/assets/img/room-cat-3.png")
                    .catalog-room__descr-wrap
                        .room-descr.room-descr_sz_sm
                            h3.room-descr__title Эконом
                            ul.room-descr__params
                                li.room-descr__param
                                    span.room-descr__param-name Размеры (ШхГхВ) -
                                    span.room-descr__param-value
                                        <span class="room__height">90</span>x<span class="room__deep">100</span>x<span class="room__height">180</span> СМ
                                li.room-descr__param
                                    span.room-descr__param-name Площадь -
                                    span.room-descr__param-value
                                        span.room__area 1,13m^2
                                li.room-descr__param
                                    span.room-descr__param-name Оснащение номера
                                    span.room-descr__param-value
                                        ul.room-descr__facilities.facilities.facilities_short
                                            li.facilities-elem
                                                span.facilities-elem__title Лежак
                                                span.facilities-elem__icon.facilities-elem__icon_sunbed
                                            li.facilities-elem
                                                span.facilities-elem__title Домик
                                                span.facilities-elem__icon.facilities-elem__icon_hut
                                            li.facilities-elem
                                                span.facilities-elem__title Игровой комплекс
                                                span.facilities-elem__icon.facilities-elem__icon_game-complex
                                            li.facilities-elem
                                                span.facilities-elem__title Когтеточка
                                                span.facilities-elem__icon.facilities-elem__icon_scratching-post
                                li.room-descr__param
                                    span.room-descr__param-name Цена за сутки:
                                    span.room-descr__param-value
                                        span.room-descr__price 170Р
                            a(href="#").primary-btn_color_orange.primary-btn.primary-btn_wide Забронировать

                .catalog-room
                    a(href="room-page.html").catalog-room__img.img-wrap
                        img(class="room__img" src="/assets/img/room-cat-3.png")
                    .catalog-room__descr-wrap
                        .room-descr.room-descr_sz_sm
                            h3.room-descr__title Эконом
                            ul.room-descr__params
                                li.room-descr__param
                                    span.room-descr__param-name Размеры (ШхГхВ) -
                                    span.room-descr__param-value
                                        <span class="room__height">90</span>x<span class="room__deep">100</span>x<span class="room__height">180</span> СМ
                                li.room-descr__param
                                    span.room-descr__param-name Площадь -
                                    span.room-descr__param-value
                                        span.room__area 2,88m^2
                                li.room-descr__param
                                    span.room-descr__param-name Оснащение номера
                                    span.room-descr__param-value
                                        ul.room-descr__facilities.facilities.facilities_short
                                            li.facilities-elem
                                                span.facilities-elem__title Лежак
                                                span.facilities-elem__icon.facilities-elem__icon_sunbed
                                            li.facilities-elem
                                                span.facilities-elem__title Домик
                                                span.facilities-elem__icon.facilities-elem__icon_hut
                                            li.facilities-elem
                                                span.facilities-elem__title Игровой комплекс
                                                span.facilities-elem__icon.facilities-elem__icon_game-complex
                                            li.facilities-elem
                                                span.facilities-elem__title Когтеточка
                                                span.facilities-elem__icon.facilities-elem__icon_scratching-post
                                li.room-descr__param
                                    span.room-descr__param-name Цена за сутки:
                                    span.room-descr__param-value
                                        span.room-descr__price 300Р
                            a(href="#").primary-btn_color_orange.primary-btn.primary-btn_wide Забронировать

    .container
        section.tbanner
            h3.tbanner__title
                p.tbanner__title-t Каждый 7-й день
                p.tbanner__title-b бесплатно!
            p.tbanner__suptitle Акция действует при размещении <br> в номерах “Люкс” и “Супер-Люкс”
            a(class="primary-btn" href="#") Забронировать


