extends ../layout/main

block variables
  - var title = 'Cats';
  - var description = 'Hotel for cats it is a good idea;'
  - var pageClass = 'body';

block content
  section.banner
    .container
      .banner__content
        p.page-suptitle Санкт-Петербург
        h1.page-title Котейка
        p.page-subtitle Уютная гостиница для котов и кошек
        div.primary-btn.primary-btn_shadow.open-popup Забронировать
  section.page-section.page-section_padding_bg.advantages-section
    .container
      h2.section-title Почему мы?
      .advantages
        article.advantage
          .advantage__icon.advantage__icon_temperature
          h3.advantage__title Комфортная температура
          p.advantage__text Во всех номерах поддерживается комфортная температура в пределах 23 - 25 градусов. В каждом номере можно дополнительно отрегулировать температуру.
        article.advantage
          .advantage__icon.advantage__icon_video
          .advantage__title Комфортная температура
          p.advantage__text Во всех номерах поддерживается комфортная температура в пределах 23 - 25 градусов. В каждом номере можно дополнительно отрегулировать температуру.
        article.advantage
          .advantage__icon.advantage__icon_taxi
          h3.advantage__title Комфортная температура
          p.advantage__text Во всех номерах поддерживается комфортная температура в пределах 23 - 25 градусов. В каждом номере можно дополнительно отрегулировать температуру.
        article.advantage
          .advantage__icon.advantage__icon_food
          h3.advantage__title Комфортная температура
          p.advantage__text Во всех номерах поддерживается комфортная температура в пределах 23 - 25 градусов. В каждом номере можно дополнительно отрегулировать температуру.
        article.advantage
          .advantage__icon.advantage__icon_walk
          h3.advantage__title Комфортная температура
          p.advantage__text Во всех номерах поддерживается комфортная температура в пределах 23 - 25 градусов. В каждом номере можно дополнительно отрегулировать температуру.
        article.advantage
          .advantage__icon.advantage__icon_vet
          h3.advantage__title Комфортная температура
          p.advantage__text Во всех номерах поддерживается комфортная температура в пределах 23 - 25 градусов. В каждом номере можно дополнительно отрегулировать температуру.

  section.page-section.rooms-section
    .container
      h2.section-title Номера
      .rooms-inner
        .rooms
          .room
            .room__img.room__img_size-md
              img(src="/assets/img/room-cat-1.png" alt="Cat Borya")
            .room__descr-wrap.room__descr-wrap_pos-abs-r-c.room__descr-wrap_size-md
              .room-descr
                h3.room-descr__title Эконом плюс
                ul.room-descr__params.room__params_mark
                  li.room-descr__param Площадь - <span class="room__area">0,90</span> m^2
                  li.room-descr__param Размеры (ШхГхВ) — <span class="room__height">90</span>X<span class="room__deep">100</span>X<span class="room__height">180</span> СМ
                  li.room-descr__param Цена за сутки: <span class="room__price">200</span>Р
                .primary-btn_color_orange.primary-btn.primary-btn_shadow.open-popup Забронировать
          .room
            .room__img.room__img_size-md
              img(src="/assets/img/room-cat-2.png" alt="Cat Borya")
            .room__descr-wrap.room__descr-wrap_pos-abs-r-c.room__descr-wrap_size-md
              .room-descr
                h3.room-descr__title Эконом плюс
                ul.room-descr__params.room__params_mark
                  li.room-descr__param Площадь - <span class="room__area">0,90</span> m^2
                  li.room-descr__param Размеры (ШхГхВ) — <span class="room__height">90</span>X<span class="room__deep">100</span>X<span class="room__height">180</span> СМ
                  li.room-descr__param Цена за сутки: <span class="room__price">200</span>Р
                a(href="#main-popup").primary-btn_color_orange.primary-btn.primary-btn_shadow Забронировать

          .room
            .room__img.room__img_size-md
              img(src="/assets/img/room-cat-3.png" alt="Cat Borya")
            .room__descr-wrap.room__descr-wrap_pos-abs-r-c.room__descr-wrap_size-md
              .room-descr
                h3.room-descr__title Эконом плюс
                ul.room-descr__params.room__params_mark
                  li.room-descr__param Площадь - <span class="room__area">0,90</span> m^2
                  li.room-descr__param Размеры (ШхГхВ) — <span class="room__height">90</span>X<span class="room__deep">100</span>X<span class="room__height">180</span> СМ
                  li.room-descr__param Цена за сутки: <span class="room__price">200</span>Р
                a(href="#main-popup").primary-btn_color_orange.primary-btn.primary-btn_shadow Забронировать
        .nav-block
          .dots.dots_rooms
          .arrows.arrows_rooms
  section.page-section_padding_bg.reviews-section

      h2.section-title Отзывы
      .reviews-inner
        .reviews
          .review
            p.review__text Первый раз пришлось оставить нашего котика в гостинице, очень переживали. Администратор Мария каждый день высылала нам фото нашего питомца, рассказывала, как он себя чувствует. И мы и котик остались очень довольны!
            footer.review__footer
              span.review__author Валерия Гришаева
              span.review__data 15 Ноября 2019
          .review
            p.review__text Гостиницу для питомцев нам посоветовали друзья. Они всегда оставляют здесь своего кота, когда уезжают. В “Котейке” очень хорошо заботятся о питомцах, в гостинице очень чисто. Всем рекомендую! Будем обращаться еще.
            footer.review__footer
              span.review__author Екатерина Минаева
              span.review__data 10 Октября 2019
          .review
            p.review__text Мой кот — настоящая привереда, угодить ему сложно. У меня были особые требования к уходу за ним, и “Котейка” отлично справились. Я часто наблюдал по видео за питомцем со своего телефона, это очень удобно.
            footer.review__footer
              span.review__author Павел Нечаев
              span.review__data 2 августа, 2019
          .review
            p.review__text Первый раз пришлось оставить нашего котика в гостинице, очень переживали. Администратор Мария каждый день высылала нам фото нашего питомца, рассказывала, как он себя чувствует. И мы и котик остались очень довольны!
            footer.review__footer
              span.review__author Валерия Гришаева
              span.review__data 15 Ноября 2019
          .review
            p.review__text Гостиницу для питомцев нам посоветовали друзья. Они всегда оставляют здесь своего кота, когда уезжают. В “Котейке” очень хорошо заботятся о питомцах, в гостинице очень чисто. Всем рекомендую! Будем обращаться еще.
            footer.review__footer
              span.review__author Екатерина Минаева
              span.review__data 10 Октября 2019
          .review
            p.review__text Мой кот — настоящая привереда, угодить ему сложно. У меня были особые требования к уходу за ним, и “Котейка” отлично справились. Я часто наблюдал по видео за питомцем со своего телефона, это очень удобно.
            footer.review__footer
              span.review__author Павел Нечаев
              span.review__data 2 августа, 2019
        .container
          .nav-block
            .arrows.arrows_reviews
            .dots_reviews