extends ../layout/main

block variables
    - var title = 'Cats';
    - var description = 'Hotel for cats it is a good idea;'
    - var pageClass = 'body';

block content
    section.room-card-wrap
        .container
            .room#js-room-card
                .room__images
                    ul.room__sm-images
                        li.room__sm-img
                            img(src="/assets/img/sm-cat-img-1.png" data-bg-img="/assets/img/sm-cat-img-1.png" alt="Cat Borya")
                        li.room__sm-img
                            img(src="/assets/img/sm-cat-img-2.png" data-bg-img="/assets/img/sm-cat-img-2.png" alt="Cat Borya")
                        li.room__sm-img
                            img(src="/assets/img/sm-cat-img-3.png" data-bg-img="/assets/img/sm-cat-img-3.png" alt="Cat Borya")
                    .room__bg-img
                        img(src="/assets/img/bg-cat-img-1.png" data-sm-img="/assets/img/bg-cat-img-1.png" alt="Cat Borya")
                .room-descr-wrap
                    .room-descr.room-descr_size_lg
                        h3.room-descr__title Эконом
                        ul.room-descr__params
                            li.room-descr__param
                                span.room-descr__param-name Размеры (ШхГхВ) -
                                span.room-descr__param-value
                                    <span class="room__height">90</span>x<span class="room__deep">100</span>x<span class="room__height">180</span> СМ
                            li.room-descr__param
                                span.room-descr__param-name Площадь -
                                span.room-descr__param-value
                                    span.room__area 2,88m^2
                            li.room-descr__param.room-descr__param_jc_column
                                span.room-descr__param-name Оснащение номера
                                span.room-descr__param-value
                                    ul.room-descr__facilities.facilities
                                        li.facilities-elem
                                            span.facilities-elem__icon.facilities-elem__icon_sunbed
                                            span.facilities-elem__title Лежак
                                        li.facilities-elem
                                            span.facilities-elem__icon.facilities-elem__icon_hut
                                            span.facilities-elem__title Домик
                                        li.facilities-elem
                                            span.facilities-elem__icon.facilities-elem__icon_game-complex
                                            span.facilities-elem__title Игровой комплекс
                                        li.facilities-elem
                                            span.facilities-elem__icon.facilities-elem__icon_scratching-post
                                            span.facilities-elem__title Когтеточка
                            li.room-descr__param
                                span.room-descr__param-name Цена за сутки:
                                span.room-descr__param-value
                                    span.room-descr__price 300Р
                        a(href="#").primary-btn_color_orange.primary-btn.primary-btn_shadow Забронировать
    section.page-section.rooms-section
        .container
            h2.section-title Другие номера
            .rooms-inner
                .rooms
                    .room
                        .room__img.room__img_size-md
                            img(src="/assets/img/room-cat-1.png" alt="Cat Borya")
                        .room__descr-wrap.room__descr-wrap_pos-abs-r-c.room__descr-wrap_size-md
                            .room-descr
                                h3.room-descr__title Эконом плюс
                                ul.room-descr__params.room__params_mark
                                    li.room-descr__param Площадь - <span class="room__area">0,90</span> m^2
                                    li.room-descr__param Размеры (ШхГхВ) — <span class="room__height">90</span>X<span class="room__deep">100</span>X<span class="room__height">180</span> СМ
                                    li.room-descr__param Цена за сутки: <span class="room__price">200</span>Р
                                a(href="#").primary-btn_color_orange.primary-btn.primary-btn_shadow Забронировать
                    .room
                        .room__img.room__img_size-md
                            img(src="/assets/img/room-cat-2.png" alt="Cat Borya")
                        .room__descr-wrap.room__descr-wrap_pos-abs-r-c.room__descr-wrap_size-md
                            .room-descr
                                h3.room-descr__title Эконом плюс
                                ul.room-descr__params.room__params_mark
                                    li.room-descr__param Площадь - <span class="room__area">0,90</span> m^2
                                    li.room-descr__param Размеры (ШхГхВ) — <span class="room__height">90</span>X<span class="room__deep">100</span>X<span class="room__height">180</span> СМ
                                    li.room-descr__param Цена за сутки: <span class="room__price">200</span>Р
                                a(href="#").primary-btn_color_orange.primary-btn.primary-btn_shadow Забронировать

                    .room
                        .room__img.room__img_size-md
                            img(src="/assets/img/room-cat-3.png" alt="Cat Borya")
                        .room__descr-wrap.room__descr-wrap_pos-abs-r-c.room__descr-wrap_size-md
                            .room-descr
                                h3.room-descr__title Эконом плюс
                                ul.room-descr__params.room__params_mark
                                    li.room-descr__param Площадь - <span class="room__area">0,90</span> m^2
                                    li.room-descr__param Размеры (ШхГхВ) — <span class="room__height">90</span>X<span class="room__deep">100</span>X<span class="room__height">180</span> СМ
                                    li.room-descr__param Цена за сутки: <span class="room__price">200</span>Р
                                a(href="#").primary-btn_color_orange.primary-btn.primary-btn_shadow Забронировать
                .nav-block
                    .dots.dots_rooms
                    .arrows.arrows_rooms