.catalog-header {
  margin-bottom: 47px;
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.catalog-title {
  display: inline-block;
  font-family: $addFont;
  font-size: 36px;
  color: $mainFontColor;
  font-weight: 900;
}

.sorting-select {
  display: inline-block;
}

.catalog {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
  &__filters {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    width: 17.948717948%;
    max-width: 210px;
    &-btn {
      display: inline-block;
      padding: 11px 34.2px 13px;
      margin: 0;
      font-size: 14px;
      line-height: 14px;
      font-family: $mainFont;
      font-weight: 600;
      background-color: transparent;
      border: 2px solid #FAC663;
      border-radius: 25px;
      transition: background-color .2s ease;
      &:hover {
        background-color: #FAC663;
      }
      &:active {
        background-color: darken(#FAC663, 10);
      }

    }
  }
  &__filter {
    margin-bottom: 27px;
    &-title {
      display: block;
      margin-bottom: 14px;
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      color: $mainFontColor;
    }
    &-field {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
      &_price {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 0;
      }
    }
    &-input {
      font-size: 14px;
      padding: 3px 5px;
      border: 1px solid #E1E1E1;
      &_price {
        width: 47.619047619%;
        max-width: 100px;
      }
    }
  }

  &__rooms-list {
    width: 74.358974359%;
    max-width: 870px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
  }
  .catalog-room {
    display: block;
    width: 31.034482758%;
    margin-bottom: 30px;
    box-shadow: 0 0 25px rgba(208, 208, 208, 0.25);
    border-radius: 6px;
    border: 1px solid #E1E1E1;
    &__descr-wrap {
      padding: 18px 16px 25px;
    }
  }
}

.facilities {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  &_short {
    flex-direction: row;
    align-items: center;
    .facilities-elem {
      position: relative;
      margin-left: 2px;
      margin-bottom: 0;
      &::after,
      &::before {
        display: none;
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        left: 50%;
        border: solid transparent;
        transform: translateX(-50%);
      }
      &::after {
        z-index: 2;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 10px solid $accentColor;
        top: -20px;
      }
      &::before {
        z-index: 3;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 10px solid #fff;
        top: -21px;
      }
      &__title {
        display: none;
      }
    }
  }
  .tip {
    &::after,
    &::before {
      display: block;
    }
  }
  &-elem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
    &__icon {
      display: block;
      width: 22px;
      height: 16px;
      background-repeat: no-repeat;
      background-position: center center;
      &_sunbed {
        background-image: url("/assets/img/fac-icon-1.svg");
      }
      &_hut {
        background-image: url("/assets/img/fac-icon-2.svg");
      }
      &_game-complex {
        background-image: url("/assets/img/fac-icon-4.svg");
      }
      &_scratching-post {
        background-image: url("/assets/img/fac-icon-3.svg");
      }
    }
    &__tip {
      position: absolute;
      top: 10px;
      padding: 10px;
      background: #fff;
      border: 1px solid #FAC663;
      font-size: 12px;
      line-height: 14px;
      font-weight: 600;
      border-radius: 4px;
      box-shadow: 0 4px 12px rgba(173, 152, 143, 0.18);
    }
  }
}

.checkbox {
  position: relative;
  &__input {
    position: absolute;
    left: -9999px;
  }
  &__input:checked + .checkbox__text::after {
    opacity: 1;
  }
  &__input:not(:checked) + .checkbox__text::after {
    opacity: 0;
  }
  &__text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    &::before {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 10px;
      border: 1px solid #e1e1e1
    }
    &::after {
      content: "";
      width: 9px;
      height: 6px;
      position: absolute;
      top: 5px;
      left: 6px;
      border-bottom: 1px solid #141312;
      border-left: 1px solid #141312;
      transform: rotate(-47deg);
    }
  }
}

.tbanner {
  width: 100%;
  height: 379px;
  margin: 110px 0 140px;
  padding-left: 23.076923076%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: url("/assets/img/tbanner-bg.png") no-repeat center center;
  background-size: cover;
  .tbanner__title {
    font-family: $addFont;
    font-weight: 900;
  }
  &__title-t {
    font-size: 36px;
    line-height: 1;
  }
  &__title-b {
    font-size: 56px;
    line-height: 1;
  }
  &__suptitle {
    margin: 16px 0 30px;
  }
}