.room {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;

  &-card-wrap {
    margin-top: 70px;
    margin-bottom: 140px;
  }
  &__images {
    width: 51.282051282%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
  &-descr-wrap {
    background: transparent;
    box-shadow:  none;
    width: 42.735042735%;
  }

  &__sm-images {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__sm-img {
    width: 70px;
    height: 112px;
    margin-bottom: 30px;
    border-radius: 4px;
    opacity: .5;
    &:hover {
      opacity: 1;
    }
    &:last-child {
      margin-bottom: 0;
    }
    & > img {
      width: 100%;
      height: 100%;
    }
  }
  &__bg-img {
    border-radius: 4px;
  }
}
