include ../utils/mixins
block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name="description", content=description)
    meta(name="viewport", content="width=device-width, initial-scale=1")
    block head

  body(class=pageClass)
    include ../includes/modules/popup
    .wrapper.wrapper_blur
      include ../includes/modules/header
      block content
      include ../includes/modules/footer

    block script