@font-face {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("/Rubik-Regular.ttf");
}

@font-face {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 300;
  src: url("/Rubik-Thin.ttf");
}

@font-face {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 600;
  src: url("/Rubik-Bold.ttf");
}
@font-face {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 900;
  src: url("/Rubik-Black.ttf");
}
